
{{#each messagesInfo}}
    <div>
        <font style="color: blue;"><strong>{{this.email}} </strong></font>
        <font style="color: brown;">[{{this.horaenvio}}]</font>: 
        <font style="color: green;"><i>{{this.message}}</i></font>
    </div>
{{/each}}